<h3>注文履歴</h3>
<% @orders.each do |order| %>
    <div class="panel panel-default">
        <div class="panel-heading"><%= order.created_at %></div>
        <div class="panel-body">
            <table>
                <% order.order_details do |detail| %>
                    <tr>
                        <td><%= detail.product.name %></td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
<% end %>