// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.bootstrap-date{
    @extend .form-control;
    width: 20%;
    display: inline-block;
}

.table-text-contents{
    font-size: 16px;
    line-height: 16px;
}

.new-disc-form{
    margin-top: 18px;

    box-sizing: border-box;
    padding: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
}