// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.bootstrap-date{
    @extend .form-control;
    width: 20%;
    display: inline-block;
}

.table-text-contents{
    // text-align: center;
    font-size: 14px;
    line-height: 14px;
}