<td class='song-form'></td>
<td class='song-form col-xs-3'>
    <%= f.select :song_id, @songs.map{|s| [s.artist.name+" - "+s.name, s.id]},{}, class: 'form-control'  %>
</td>
<td class='song-form'></td>
<td class='song-form'></td>