<tr>
    <td>
        <%= f.select :artist_id, @artists.map{|t| [t.name, t.id]},{}, class: 'form-control'  %>
    </td>
    <%= new_song_field(f, :song, {}) %>
    <td><%= select_song_field("既存の楽曲から選択", f, :song, {})%></td>
    <td><%= link_to_remove_field("track remove", f, :track_relations,{}) %></td>
</tr>

