<style>
	.container{
		width: 100%;
		padding: 0;
	}
</style>

<div class="main-image">
	<p> Find Your Favorite Music.</p>
</div>

<div class="content clearfix">
	<% @genres.each do |genre| %>
		<div class="genre-image">
			<%= link_to genre_path(genre) do %>
				<%= attachment_image_tag genre, :image, fallback: "no_image.png", size: "200x200" %>
				<p> <%= genre.name %></p>
			<% end %>
		</div>
	<% end %>


</div>