<div class="container-fluid main-image">
	<p> Find Your Favorite Music.</p>
</div>

<div class="container">
	<% @genres.each do |genre| %>
		<div class="genre-image">
			<%= link_to genre_path(genre) do %>
				<%= attachment_image_tag genre, :image, fallback: "no_image.png", size: "200x200", class: "img-rounded" %>
				<p> <%= genre.name %></p>
			<% end %>
		</div>
	<% end %>
</div>