// Place all the styles related to the user/contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact{
  width:60%;
  margin: 0 auto;
}
.contact-fields{
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
}

.contact-title{
  text-align: center;
  font-size: 48px;
}

.contact-field-sm{
  width:30%;
}

.contact-field-lg{
  width:30%;
  height: 100px;
}

.contact-actions{
  margin:0 auto;
  width:50%;
  text-align: center;
  margin-top: 20px;
}