// Place all the styles related to the user/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign-header{
    height: 100px;
    background-color: #444;
    text-align: center;
    color:white;
    font-size: 80px;
}

.sign-title{
    text-align: center;
    font-size: 48px;
}

.sign-field{
    height:35px;
}

.sign-field-lg{
    width:80%;
}

.sign-field-sm{
    width:40%;
}

.actions{
    margin:0 auto;
    width:50%;
    text-align: center;
}

.actions-block{
    display:block;
    margin:15px auto;
}